<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">मदत <br>Blood Bank Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/registration">Registration</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/request">Request Blood</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/diagnosecenter">Diagnose Center</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/news">News & Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                      </ul>
          
        </div>
      </nav>
  