{% extends 'layout.html' %}

{% block body %}

    <br>
    <div class="jumbotron">
    <h1>About Us</h1><br>
    <h5 style="margin-left:45px;"><b>“Every effort to hold on to something blocks the arrival of something new that could change your life”</b></h5>
    <br><p>  This is the minnor project developed by <b>Aryman Gautam</b> under the guidance of <b>Mr. Loveleen Kumar</b>. </p>
    <p>The <h style="color:red;">मदत</h>-BLOOD BANK MANAGEMENT SYSTEM is great project. this project is designed for successful completion of project on blood bank management system.
      <br>
      The basic building aim is to provide blood donation service to the city recently.
      <br>Blood Bank Management System (BBMS) is a Web based application that is designed to store, process, retrieve and analyze information concerned with the administrative and inventory management within a blood bank.
      <br>
      This project aims at maintaining all the information pertaining to blood donors, different blood groups available in each blood bank and help them manage in a better way.</p>
   </div>
 
{% endblock %}