{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<div class="jumbotron row mb-3">
        
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Jaipur</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">2nd Blood Donation Camp By SOE</a>
                </h3>
                <div class="mb-1 text-muted">Sun Nov 25 2018 at 10:00 am</div>
                <div class="mb-1 text-muted">Solar One Energy, 891,devinagar,sodala, Jaipur, Rajasthan 302019, Jaipur, India</div>
                <p class="card-text mb-auto">2nd Annual Blood Donation camp by Solar One Energy in association with Arunam Business Solutions</p>
                <a href="#">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" src="https://cdn-az.allevents.in/banners/a9ff32a0-d29e-11e8-bf5b-a32565f21459-rimg-w300-h300-dcc3c1fe-gmir.jpg" alt="Card image cap">
            </div>
          </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Jaipur</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">BLOOD DONATION CAMP</a>
              </h3>
              <div class="mb-1 text-muted">Sun Dec 23 2018 at 09:15 am to 05:15 pm<br>

                Vidhyadhar Nagar Area, Vidhyadhar Nagar Jaipur, Jaipur, Rajasthan 302023, Jaipur, India</div>
              <p class="card-text mb-auto">Blood Donation Camp on the Occasion of Maharaja Surajmal Memorial Day </p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src="https://cdn-az.allevents.in/banners/ada4bb00-d29e-11e8-bf5b-a32565f21459-rimg-w300-h300-dc171717-gmir.jpg" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>

{% endblock %}