{% extends 'layout.html' %}



{% block body %}
    <br><br>
    <div class="jumbotron text-center">
            <h1 class="display-4">Register To<br>मदत</h1>
        
            <hr class="my-4">
            <p class="lead text-center"> 
              <a class="btn btn-success btn-lg" href="/donarreg" role="button">Donar <br>Registration</a>
              <a class="btn btn-danger btn-lg" href="/ngo" role="button">NGO/Diagnose Center <br>Registration</a>
            </p>
          </div>
{% endblock %}